<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Codi de Restabliment de Contrasenya</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Sol·licitud de Restabliment de Contrasenya</h2>
        <p>Hola {{ user.username }},</p>
        <p>Hem rebut una sol·licitud per restablir la teva contrasenya. Utilitza el codi següent per restablir-la. Aquest codi caducarà en 10 minuts.</p>
        <h3>El teu codi de restabliment: <strong>{{ reset_code }}</strong></h3>
    </div>
</body>
</html>